.venv

dataset/input_videos/*
dataset/raw/*
dataset/manifests/*
dataset/processed/clips/*
dataset/processed/debug/*
dataset/sidecars/face_tracks/*
dataset/sidecars/transcripts/*
dataset/sidecars/phonemes/*

!dataset/input_videos/.gitkeep
!dataset/raw/.gitkeep
!dataset/manifests/.gitkeep
!dataset/processed/clips/.gitkeep
!dataset/processed/debug/.gitkeep
!dataset/sidecars/face_tracks/.gitkeep
!dataset/sidecars/transcripts/.gitkeep
!dataset/sidecars/phonemes/.gitkeep
